#### Job Satisfaction

In this notebook, you will be exploring job satisfaction according to the survey results.  Use the cells at the top of the notebook to explore as necessary, and use your findings to solve the questions at the bottom of the notebook.

In [29]:
import pandas as pd
import numpy as np
import JobSatisfaction as t
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')
schema = pd.read_csv('./survey_results_schema.csv')
df.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#Space for your code
df['JobSatisfaction'].isnull().mean()

0.20149722542142184

In [31]:
#More space for code
df_new = df[df['EmploymentStatus'].isnull()== False]
df_new['JobSatisfaction'].value_counts()

8.0     3483
7.0     3087
9.0     2159
6.0     1749
10.0    1529
5.0     1370
4.0      668
3.0      598
2.0      322
0.0      154
1.0      134
Name: JobSatisfaction, dtype: int64

In [32]:
#Additional space for your additional code
df['EmploymentStatus'].value_counts()

Employed full-time                                      13655
Independent contractor, freelancer, or self-employed     1866
Employed part-time                                       1168
Not employed, and not looking for work                   1066
Not employed, but looking for work                        906
I prefer not to say                                       381
Retired                                                    60
Name: EmploymentStatus, dtype: int64

In [37]:
df.groupby('CompanySize').mean()

,Respondent,CareerSatisfaction,JobSatisfaction,HoursPerWeek,StackOverflowSatisfaction,Salary,ExpectedSalary
CompanySize,,,,,,,
"1,000 to 4,999 employees",9337.514170,7.405000,6.908506,2.729167,8.343363,64870.410792,31044.830927
10 to 19 employees,9688.816062,7.386125,7.035739,3.852512,8.458015,47107.687694,34708.875564
"10,000 or more employees",9048.205706,7.376396,6.793617,3.063604,8.353940,75018.799267,36101.308322
100 to 499 employees,9368.932120,7.488691,7.029324,3.196777,8.404384,60132.019080,40322.927562
20 to 99 employees,9614.431549,7.385728,6.997039,3.245587,8.393952,52223.725309,32718.399806
"5,000 to 9,999 employees",9060.367987,7.382716,6.832155,3.494024,8.286938,64610.820185,46739.165852
500 to 999 employees,9638.247357,7.473976,7.029967,3.488312,8.390173,63475.130410,32409.073400
Fewer than 10 employees,9820.607143,7.276900,7.025719,3.712707,8.475327,44703.438821,27962.243000
I don't know,9816.160772,7.424370,7.054622,3.500000,8.163366,53390.534078,52742.495612
I prefer not to answer,10030.235294,7.573684,7.284946,4.191781,8.404762,58371.903468,58009.008838

In [15]:
df.groupby('CompanySize').mean()['JobSatisfaction']

CompanySize
1,000 to 4,999 employees    6.908506
10 to 19 employees          7.035739
10,000 or more employees    6.793617
100 to 499 employees        7.029324
20 to 99 employees          6.997039
5,000 to 9,999 employees    6.832155
500 to 999 employees        7.029967
Fewer than 10 employees     7.025719
I don't know                7.054622
I prefer not to answer      7.284946
Name: JobSatisfaction, dtype: float64

In [21]:
df.groupby('ProgramHobby').mean()['JobSatisfaction']

ProgramHobby
No                                           6.874806
Yes, I contribute to open source projects    7.158649
Yes, I program as a hobby                    6.927150
Yes, both                                    7.189316
Name: JobSatisfaction, dtype: float64

In [23]:
df.groupby('HomeRemote').mean()['JobSatisfaction'].sort_values()
#Feel free to create new cells as you need them

HomeRemote
Never                                                      6.697127
It's complicated                                           6.942053
More than half, but not all, the time                      6.973684
A few days each month                                      7.096694
About half the time                                        7.125737
Less than half the time, but at least one day each week    7.143786
All or almost all the time (I'm full-time remote)          7.405421
Name: JobSatisfaction, dtype: float64

In [24]:
df.groupby('FormalEducation').mean()['JobSatisfaction'].sort_values()

FormalEducation
Bachelor's degree                                                    6.900293
Primary/elementary school                                            6.946237
Master's degree                                                      6.977356
I never completed any formal education                               7.000000
Professional degree                                                  7.075893
Some college/university study without earning a bachelor's degree    7.151268
I prefer not to answer                                               7.211679
Secondary school                                                     7.219512
Doctoral degree                                                      7.438492
Name: JobSatisfaction, dtype: float64

#### Question 1

**1.** Use the space above to assist in matching each variable (**a**, **b**, **c**, **d**, **e**, **f**, **g**, or **h** ) as the appropriate key that describes the value in the **job_sol_1** dictionary.

In [20]:
a = 0.734
b = 0.2014
c = 'full-time'
d = 'contractors'
e = 'retired'
f = 'yes'
g = 'no'
h = 'hard to tell'

job_sol_1 = {'The proportion of missing values in the Job Satisfaction column':b,
             'According to EmploymentStatus, which group has the highest average job satisfaction?':d, 
             'In general, do smaller companies appear to have employees with higher job satisfaction?':f}
             
t.jobsat_check1(job_sol_1)

Nice job! That's what we found as well!

#### Question 2

**2.** Use the space above to assist in matching each variable (**a**, **b**, **c** ) as the appropriate key that describes the value in the **job_sol_2** dictionary. Notice you can have the same letter appear more than once.

In [39]:
a = 'yes'
b = 'no'
c = 'hard to tell'

job_sol_2 = {'Do individuals who program outside of work appear to have higher JobSatisfaction?': a,
             'Does flexibility to work outside of the office appear to have an influence on JobSatisfaction?': a, 
             'A friend says a Doctoral degree increases the chance of having job you like, does this seem true?':a}
             
t.jobsat_check2(job_sol_2)

Nice job! That's what we found as well!